
    .spirit{background: url("../images/spirit.png") no-repeat;}

    .Chinese{width:19px;height:13px;background-position:-9px -9px;}
    .English{width:19px;height:13px;background-position:-45px -9px;margin:0 0 -1px 10px;}
    .phone{width:285px;height:37px;background-position:-9px -33px;}

    .up{width:50px;height:50px;background-position:-9px -81px;}
    .down{width:49px;height:50px;background-position:-72px -81px;}

    .vip{width:123px;height:25px;background-position:-15px -141px;}
    .share{width:16px;height:16px;background-position:-112px -8px;}
    .zone{width:16px;height:16px;background-position:-138px -8px;}
    .sina{width:16px;height:16px;background-position:-162px -8px;}
    .qq{width:16px;height:16px;background-position:-188px -8px;}
    .renren{width:16px;height:16px;background-position:-214px -8px;}
    .robot{width:16px;height:16px;background-position:-238px -8px;}
    .loginnum{width:42px;height:16px;background-position:-263px -8px;text-align: center;}

    .dot{width:6px;height:6px;background-position:-242px -80px;margin-bottom: 1px;}
    .address{width:16px;height:16px;background-position:-129px -77px;}
    .postcode{width:16px;height:13px;background-position:-148px -77px;}
    .conphone{width:16px;height:14px;background-position:-171px -78px;}
    .fax{width:16px;height:16px;background-position:-196px -78px;}
    .email{width:16px;height:12px;background-position:-219px -78px;}

    .display{width:100px;height:32px;background-position:-197px -97px;}
    .disbtnl{width:25px;height:25px;background-position:-129px -98px;}
    .disbtnr{width:25px;height:25px;background-position:-161px -98px;}